.group {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 13px;
    color: #1d2327;
}

.input {
    width: 100%;
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
}

.input:focus {
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 2px solid transparent;
}

.textarea {
    line-height: 1.5;
    padding: 8px;
    height: auto;
}

.errorInput {
    border-color: #d63638;
}

.errorText {
    color: #d63638;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}